.profile {
  width: 320px;
  margin: 50px auto;
  padding-top: 30px;

  text-align: center;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 3px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.avatar {
  width: 200px;
  background-color: #504c4c0a;
  border-radius: 50%;
}
.name,
.quantity {
  color: black;
  font-weight: 700;
}

.name {
  font-size: 25px;
}

.stats {
  display: flex;
  background-color: #f3f6f9;
  border-top: 1px solid #504c4c0a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.stats li {
  width: 33.333%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats li:nth-child(2) {
  border: 1px solid #504c4c0a;
  border-top: none;
  border-bottom: none;
}

p,
.label {
  color: #a3aeb9;
}

.label::first-letter {
  text-transform: uppercase;
}
.quantity {
  margin-top: 5px;
}
