.statistics {
  width: 320px;
  margin: 50px auto;
  background-color: #fff;
}
.statList {
  display: flex;

}
.title {
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  flex-basis: calc(100% / 4);
}

.item:first-child {
  padding-left: 10px;
}
.item:last-child {
  padding-right: 10px;
}

.label,
.percentage {
  color: #fff;
  font-size: 20px;
}

.label {
  margin-bottom: 5px;
  font-size: 13px;
}
