/* Import Swiper styles */
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper {
  margin-left: 0;
  margin-right: 13px;
  margin-left: -13px;
  padding-left: 13px;
  border: 1px solid tomato;
}

.swiper-slide {
  width: 180px !important;
  text-align: center;
  font-size: 18px;
  background: green;
  height: calc((100% - 30px) / 2) !important;
  overflow: hidden;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  display: flex;
  max-width: 780px;
  height: 380px;
}

button {
  width: 20px;
}
